html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto; /* Allow height to adapt dynamically */
    overflow: hidden; /* Prevent extra scrolling beyond the image height */
}

body {
    background-image: url('background.jpg'); /* The image URL */
    background-size: 100% auto; /* Ensure the image covers the full width */
    background-repeat: no-repeat; /* Prevent repeating */
    background-position: top center; /* Center the image horizontally */
    height: calc(100vw * (1646 / 1234)); /* Maintain the aspect ratio */
}

h1 {
    font-family: "Teko", serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-size: 50px;
    font-style: normal;
    color: black;
    text-align: center;
}

header {
    color: #fff;
    padding: 20px 0;
}

main {
    margin: 20px;
}

footer {
    margin-top: 20px;
    font-size: 0.9em;
}